
    .content{
        width: 100%;
        height: 3%;
        display: flex;
        justify-content: center;
      
    }
    .toMain{
        width: 200px;
      
    }
    .toButton{
        width: 100%;
        display: flex;
       justify-content: center;
    }
   