	.sing_up {
    	height: 450px;
    	position: relative;
    }
    .signfrm{
        margin: 0px auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .signfrm input[type=email],input[type=password]{
        border : 1px solid #ccc;
        border-radius: 3px;
        font-size: 13px;
        padding: 5px;
        width:270px;
        height: 25px;
        margin-top: 5px;
        
    }
    .sign_button{
        width:280px;
       
    }
    .sign_title{
        text-align: center;
    }
    .terms{
        font-size:11px;
        text-align: center;
    }
  